@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  transition: all 0.3s;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 12px;
  }
}
